<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">My profile</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Objective">Objective</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <h1 class="mb-0">NGUYEN DANG ANH
          <span class="text-primary">QUAN</span>
        </h1>
        <div class="subheading mb-5">15 Vo Van Kiet, Ward 16, District 8, Ho Chi Minh City-0375204145-zalo:0562413183-
          <a href="mailto:name@email.com">anhq6009@gmail.com</a>
        </div>
        <p class="">I am WebSite Developer</p>
        <p>I have some experienced in building website by nodejs using MongoDB Cluster</p>
        <p>I have skill in ServiceNow. In ServiceNow, I have basic knowledge of admin and scripting. And I know how to build a workflow, flow,... or vitual agent in ServiceNow.</p>
        <p>I have build a Portal and WorkSpace on ServiceNow</p>
        <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/profile.php?id=100022158964353">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.youtube.com/@quananh1319">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/quan-anh-45a171250/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/m4rcus1">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Experience</h2>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">SCC</h3>
            <div class="subheading mb-3">JavaScript Developer</div>

            <p>
              Work with Script Include,Client Script, Business Rule,...<br>
              Build a portal on ServiceNow with AngularJS and JS which have built on ServiceNow.<br>
              Build a workspace with ServiceNow, Rest APi, Create Component with ReacJS,...
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">February 2022 - Present</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">MindX</h3>
            <div class="subheading mb-3">Teaching Assistant</div>
            <p>I am Teaching Assistant in MindX technolgy school.</p>
            <p>In here I have trained teaching skills and have some test of technical skills in or major like
              scrarth,web,python,... </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2022 - Present</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ton Duc Thang University</h3>
            <div class="subheading mb-3">MeoMeo pay</div>
            <p>This link is our website: <a href="https://meo-meo-pay.onrender.com/"
                style="text-decoration:none">Here</a></p>
            <p>This link will give you a video explain what I have done in this project: <a
                href="https://www.youtube.com/watch?v=ooCDDpszDDc" style="text-decoration:none">Here</a></p>
            <p>This link is source of this project: <a href="https://github.com/nhatloi1204/WebFinal/pulse"
                style="text-decoration:none">Here</a></p>
            <p>In this project, I have built a website with a topic is Wallet website so our team choose name of this
              projcet is MeoMeo Pay</p>
            <p>In this project, We have built this project by nodejs and expressjs with database type is MongoDB</p>
            <p>In this project, User can use some asic functions like Withdrawal, Deposit, Transfer, Buy card</p>
            <p>In this project, We have admin role that admin can check valid for user,accept the Tranfer,...</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2022 - December 2022</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ton Duc Thang University</h3>
            <div class="subheading mb-3">RTC website </div>
            <p>This link is will give you a video which have demo and explain what I have done in this project: <a
                href=" https://www.youtube.com/watch?v=K1itkFdn4ZA" style="text-decoration:none">Here</a></p>
            <p>This link is source of this project: <a href="https://github.com/m4rcus1/rtc-mid"
                style="text-decoration:none">Here</a></p>
            <p>In this project, I build a website have the same function with google meet</p>
            <p>I use knowledge of the socket and peerjs to Buid this RTC website</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2022 - November 2022</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Search website</h3>
            <div class="subheading mb-3">Search page hellosearchTT</div>
            <p>This link is my website: <a href="https://m4rcus1.github.io/hellosearchtt/"
                style="text-decoration:none">Here</a></p>
            <p>This link is source of this project: <a href="https://github.com/m4rcus1/hellosearchtt"
                style="text-decoration:none">Here</a></p>
            <p>Basic website about searching depend on google search result</p>
            <p>Searching on google and build by html and css basic</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2022</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ton Duc Thang University</h3>
            <div class="subheading mb-3">E-wallet website</div>
            <p>This link is source of this project: <a href="https://github.com/m4rcus1/php-wallet"
                style="text-decoration:none">Here</a></p>
            <p>Build a database of user account, transaction, wallet ,...</p>
            <p>Use PHP to create admin function like approve for a big transaction</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2022</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ton Duc Thang University</h3>
            <div class="subheading mb-3">Technology device website</div>
            <p>This link will give a video which will explain and demo: <a
                href="https://www.youtube.com/watch?v=VqZHJV0_of4" style="text-decoration:none">Here</a></p>
            <p>Build website of technology with JavaScript</p>
            <p>Make it to be a SPA by nodeJS</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2022</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ton Duc Thang University</h3>
            <div class="subheading mb-3">Project of AI and machine learning</div>
            <p>Use algorithms like KNN, Naive bayes ,... to solve classification problems and predict the data</p>
            <p>Use algorithms like Neural network to solve regression problems and predict the data</p>
            <p>Avoid Overfitting on the predict data</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2022</span>
          </div>
        </div>
      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Education</h2>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ton Duc Thang University</h3>
            <div class="subheading mb-3">3rd year of the University</div>
            <div>Computer Science</div>
            <p>GPA: 7.86/10</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2022 - Present</span>
          </div>
        </div>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicons devicons-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-css3"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-javascript"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-jquery"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-php"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-express"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-nodejs"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-npm"></i>
          </li>
        </ul>
        <div class="subheading mb-3">Database</div>
        <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicons devicons-mysql"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-mongodb"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-firebase"></i>
          </li>
        </ul>
        {{!-- <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum
          </li>
        </ul> --}}
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="Objective">
      <div class="my-auto">
        <h2 class="mb-5">Objective</h2>
        <p>Try to do every thing that I can do it to learn more , to accomplish my responsibility</p>
        <p class="mb-0">Try to gain more experience for myself in work and life</p>
        <p class="mb-0">Improve and develop for programming skills and mindsets</p>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
      <div class="my-auto">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            EF SET Certificate: 55/100(<a href="https://www.efset.org/cert/dPdnkU" style="decoration:none"></a>)
          </li>
          <li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Certified AppSec Practitioner (CAP) :80%(<a
              href="https://candidate.speedexam.net/certificate.aspx?SSTATE=am4131EniU8ntjp4bO5mXS3bGW%2FpXl4npjG31Hygh7xP28odS9s1GHUjKxpGNeDscwGFF%2F6vyZif57Xp1CLGPTzSyZ%2Ff4z2Qagro0Z%2Fc4tY%3D&fbclid=IwAR2L53ajVmD0R8UTaISGf2ZTl5G71hdX-WEMX0ZRFj8gFlZRWwcQmZIVjUo"
              style="decoration:none"></a>)
          </li>
          <li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>

</html>